.nav-bar {
    width: 100%;
    background-color: #221620;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-bar .item {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}